name: release
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-dev"
      - "v[0-9]+.[0-9]+.[0-9]+-dev[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-alpha[0-9]*"

permissions:
  contents: write

jobs:
  build-release:
    name: build-release
    runs-on: ${{ matrix.os }}
    env:
      CARGO: cargo
      TARGET_FLAGS: ""
      TARGET_DIR: ./target
      RUST_BACKTRACE: 1
    strategy:
      matrix:
        build: [linux, linux-arm, macos, win-msvc]
        include:
          - build: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - build: linux-arm
            os: ubuntu-latest
            target: arm-unknown-linux-gnueabihf
          - build: macos
            os: macos-latest
            target: x86_64-apple-darwin
          - build: win-msvc
            os: windows-latest
            target: x86_64-pc-windows-msvc

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Get the release version from the tag
        shell: bash
        run: |
          echo "BIN_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Install packages (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends musl-tools

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: Use Cross
        if: matrix.build == 'linux-arm'
        shell: bash
        run: |
          cargo install cross
          echo "CARGO=cross" >> $GITHUB_ENV
          echo "TARGET_FLAGS=--target ${{ matrix.target }}" >> $GITHUB_ENV
          echo "TARGET_DIR=./target/${{ matrix.target }}" >> $GITHUB_ENV

      - name: Set target flags
        if: matrix.build != 'linux-arm'
        shell: bash
        run: |
          echo "TARGET_FLAGS=--target ${{ matrix.target }}" >> $GITHUB_ENV
          echo "TARGET_DIR=./target/${{ matrix.target }}" >> $GITHUB_ENV

      - name: Build release binary
        run: ${{ env.CARGO }} build --verbose --release ${{ env.TARGET_FLAGS }}

      - name: Strip release binary (linux and macos)
        if: matrix.build == 'linux' || matrix.build == 'macos'
        run: strip "target/${{ matrix.target }}/release/hcp"

      - name: Strip release binary (arm)
        if: matrix.build == 'linux-arm'
        run: |
          docker run --rm -v \
            "$PWD/target:/target:Z" \
            rustembedded/cross:arm-unknown-linux-gnueabihf \
            arm-linux-gnueabihf-strip \
            /target/arm-unknown-linux-gnueabihf/release/hcp

      - name: Determine asset name
        shell: bash
        run: |
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            echo "ASSET_PATH=target/${{ matrix.target }}/release/hcp.exe" >> $GITHUB_ENV
            echo "ASSET_NAME=hcp-${{ matrix.target }}-${{ env.BIN_VERSION }}.exe" >> $GITHUB_ENV
          else
            echo "ASSET_PATH=target/${{ matrix.target }}/release/hcp" >> $GITHUB_ENV
            echo "ASSET_NAME=hcp-${{ matrix.target }}-${{ env.BIN_VERSION }}" >> $GITHUB_ENV
          fi

      - name: Upload release archive
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.ASSET_PATH }}

  publish-crate:
    name: publish-crate
    runs-on: ubuntu-latest
    if: "!contains(github.ref, 'dev') && !contains(github.ref, 'alpha')"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Publish to crates.io
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
